:root {
  --Purple: hsl(259, 100%, 65%);
  --LightRed: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Offwhite: hsl(0, 0%, 94%);
  --Lightgrey: hsl(0, 0%, 86%);
  --Smokeygrey: hsl(0, 1%, 44%);
  --Offblack: hsl(0, 0%, 8%);
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--Lightgrey);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.white-container {
  margin: 10vh 0vh 10vh 0vh;
  background-color: var(--White);
  color: var(--Smokeygrey);
  height: 50%;
  max-height: 700vh;
  width: 50%;
  max-width: 700vh;
  border-radius: 5vh 5vh 25vh 5vh;
  padding: 40px;
}
.input-group {
  display: flex;
}
.label-group {
  display: flex;
  flex-direction: column;
}
.label-group input {
  width: 85%;
  height: 35px;
  border-color: var(--Lightgrey);
  border-style: solid;
  border-radius: 1vh;
  border-width: 0.1px;
  outline-color: var(--Lightgrey);
  margin: 3px 0px 10px 0px;
}
input[type="number"] {
  font-family: "Poppins", sans-serif;
  color: var(--Verydarkcyan);
  font-size: 20px;
  padding-left: 10px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.button-group {
  display: flex;
  align-items: center;
}
.line {
  border-top: 1px solid var(--Lightgrey);
  width: 70vh;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: var(--Purple);
  font-size: 15vh;
  cursor: pointer;
}
.result-area {
  font-size: 30px;
  font-style: italic;
}
.purple {
  color: var(--Purple);
  padding-right: 10px;
}
h1 {
  margin: 0px;
  color: var(--Offblack);
}
@media (max-width: 600px) {
  .white-container {
    height: 90%;
    width: 80%;
  }
  .label-group input{
    width: 70%;
  }
  .result-area{
    font-size: 25px;
  }
}
